<% provide(:title, @user.name + ' ' + @user.surname) %>
<head>
  <title><%= yield(:title) %> </title>
</head>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %> <%= @user.surname %>
      </h1>
    </section>
  </aside>
</div>
